@model JobVM
<p>CREATE NEW JOB</p>
<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<input asp-for="Job.ID" hidden />
		<div class="mb-3 row">
			<label asp-for="Job.Title"></label>
			<input asp-for="Job.Title" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Description"></label>
			<input asp-for="Job.Description" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Category"></label>
			<select asp-for="Job.CategoryId" asp-items="@Model.Categories"></select>
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Salary"></label>
			<input asp-for="Job.Salary" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.Deadline"></label>
			<input asp-for="Job.Deadline" />
		</div>
		<div class="mb-3 row">
			<label asp-for="Job.requiredQualification"></label>
			<input asp-for="Job.requiredQualification" />
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
		<a asp-controller="Job" asp-action="Index" class="btn btn-primary">Back</a>
	</div>
</form>