@model ApplicationJobVM

<p> Add CV </p>
<form method= "post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="mb-3 row">
			<label asp-for="applicationjob.Description"></label>
			<input asp-for="applicationjob.Description" />
			<span asp-validation-for="applicationjob.Description" class="text-danger"></span>
		</div>
		<div class=""
	</div>
</form>
