@model ApplicationJobVM

<p> Add CV </p>
<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="border p-3 mt-4">
			<label asp-for="applicationJob.Job"></label>
			<select asp-for="applicationJob.JobID" asp-items="@Model.Job"></select>
		</div>
		<div class="mb-3 row">
			<label asp-for="applicationJob.Description"></label>
			<input asp-for="applicationJob.Description" />
			<span asp-validation-for="applicationJob.Description" class="text-danger"></span>
		</div>
		<div class="border p-3 mt-4">
			<label asp-for="applicationJob.CV"></label>
			<input type="file" name="file" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
		<a asp-controller="applicationJob" asp-action="Index" class="btn btn-primary">Back</a>
	</div>
</form>
