@model JobMV
<p>CREATE NEW JOB</p>
<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<input asp-for="job.ID" hidden />
		<div class="mb-3 row">
			<label asp-for="job.Name"></label>
			<input asp-for="job.Name" />
		</div>
		<div class="mb-3 row">
			<label asp-for="job.TimeWork"></label>
			<select asp-for="job.TimeWork" asp-items="@Model.TimeWork"></select>
		</div>
		<div class="mb-3 row">
			<label asp-for="job.Company"></label>
			<input asp-for="job.Company" />
		</div>
		<div class="mb-3 row">
			<label asp-for="job.Salary"></label>
			<input asp-for="job.Salary" />
		</div>
		<div class="mb-3 row">
			<label asp-for="job.Description"></label>
			<input asp-for="job.Description" />
		</div>
		<div class="mb-3 row">
			<label asp-for="job.Request"></label>
			<input asp-for="job.Request" />
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
		<a asp-controller="Administrator" asp-action="Index" class="btn btn-primary">Back</a>
	</div>
</form>